*, *:before, *:after { box-sizing: inherit; }
html { 
  box-sizing: border-box; 
  line-height: 1.15; /* 1 */  
  -webkit-text-size-adjust: 100%; /* 2 */  
}
body { 
  margin: 0; 
  min-width: fit-content;
}
main { display: block; }
h1 { 
    font-size: 2em;
    margin: 0.67em 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }
a { background-color: transparent; }
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ text-decoration: underline dotted; /* 2 */ }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }
button, input { /* 1 */ overflow: visible; }
button, select { /* 1 */ text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }
fieldset { padding: 0.35em 0.75em 0.625em; }
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }
progress { vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }
details { display: block; }
summary { display: list-item; }
template { display: none; }
[hidden] { display: none; }
/* codigo para normalizar*/

:root {
  --primario: lightgrey;
}

body {
  margin: 0 auto;
  padding-top: 0px;
  background-color: var(--primario);
}

h1, h2, h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  width: 100%;
  padding-bottom: 3rem;
  padding-left: 10px;
  padding-right: 10px;
}

section h2 {
  padding-bottom: 1rem;
  text-align: center;
}

/* ==================== estilos seccion principal  */
.container-principales {
  background-color: lightgrey;
}

/* ==================== estilos Productos  */
.productos-container{
  padding-top: 2rem;
  background-color: lightgrey;
}


/* ==================== estilos Sobre Nosotros  */
.sobre-nosotros-container {
  background-color: rgb(57, 194, 57);
  padding: 1rem;
}

/* ==================== estilos Sobre Nosotros  */

.contacto-container {
  background-color: #d6ba1b;  
}


.btn-link {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.btn_producto { 
  background-color: crimson;
  padding: .5rem 1rem;
  text-align: center;
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}