.sobre_nosotros {
  margin: 0 auto; position: relative; 
  max-width: 900px;
}


.card_info { 
  margin-bottom: 2rem;
}

.card_info h3 {
  grid-area: propiedad;
  margin-bottom: 1rem;
  width: 120px;
}

@media screen and (min-width: 530px) {
  .card_info {
    display: grid;
    grid-template-areas: "propiedad valor valor valor valor";
  }
}

.card_info p {
  margin-block-start: 0;
  margin-block-end: 0;
  grid-area: valor;
}

.evento {
  padding-inline-start: 0;
  margin-block-start: 0;
  border-bottom: 1px solid black;
}


.evento li {
  list-style: none;
  margin-bottom: 5px;
}

.evento li:last-of-type {
  margin-bottom: 1rem;
}

.evento li span {
  font-weight: bold;
}