.contacto {
  margin: 0 auto; position: relative; 
  display: grid;
  grid-template-columns: repeat(1, minmax(auto, 1fr));
  grid-gap: 1rem;
  max-width: 900px;
}

@media screen and (min-width: 710px) {
  .contacto {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.contacto_info {
  display: flex;
  flex-direction: column;
}

.contacto_info div {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.1em;
}

.sociales ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.sociales ul li {
  padding-right: 1rem;
}

.contacto_info h3 {
  margin-right: 0.5rem;
}