.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: rgb(172, 172, 172);
  z-index: 3;
  padding-bottom: 0.5rem;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
}

.headerLeft svg {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.menu_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  text-align: center;
  margin-top: 0.5rem;
}

/*
.menu_nav a:first-of-type {
  margin-bottom: 1rem;
}
*/