.container_principales {
    background-color: rgb(0, 103, 187);
  }
  
  .principales {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
  }
  
  @media screen and (min-width: 790px) {
    .principales {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }
  
  .principal {
    background-color: rgb(204, 204, 204);
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 1rem;
  }
  
  .principal_image {
    height: 160px; 
    width: 160px;
  }

  .principal_image img {
    height: 100%; 
    width: 100%;
  }
  
  .principal_contenido h3 {
    text-align: center;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
  
  }
  
  .principal_contenido p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 0.95em;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  
  .principal_contenido div {
    text-align: center;
    padding-bottom: 5px;
  }