
.producto_detalles_container {
  //background-color: lightgrey;
  //padding: 1rem;
  margin: 0 auto;
  margin-top: 7rem;
  max-width: 95%;

  .imagenes {
    //background-color: lightskyblue;

    > img { //imagen principal
      width: 100%;
      max-height: 170px;
    }
  
    .small_images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 2rem;
      align-items: center;

      > img {
        margin-top: 10px;
        margin-right: 10px;
        max-width: calc(20% - 10px);
        min-height: 45px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }//fin imagenes movil

  .info_principal {
    //background-color: lightyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    > h2 {
      font-size: 1.6em;
      margin-bottom: 1rem;
    }
    > span {
      font-size: 1.7em;
      text-align: center;
      margin-bottom: 1rem;
    }
    .disponibles {
      font-size: 1em;
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .descripcion {
    //background-color: lightseagreen;
    > p {
      text-align: justify;
      padding: 0 5px;
    }
  }
  .caracteristicas {
    //background-color: lightsalmon;
    
    h2 {
      margin-bottom: 1rem;
    }

    >div { // caracteristicas
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      > div { //propiedad / valor
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 1rem;
        > span:first-of-type { //propiedad
          font-size: 1.3em;
          font-weight: bold;
          margin-bottom: 10px;
        }
        
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

}

//version de tablet

@media screen and (min-width: 500px) {
  .producto_detalles_container {
    .imagenes {
      display: flex;

      > img { //imagen principal
        order: 2;
        //width: 90%;
        max-height: 220px;
        max-width: 500px;
      }
    
      .small_images {
        flex-direction: column;
        
        > img {
          min-height: 15px;
          max-width: 60px;
          margin: 0 10px;
          margin-bottom: 10px;
          &:last-of-type {
            margin-right: 10px;
            margin-bottom: 0;
          }
        }
      }
    }
    .info_principal {
      > span {
        width: 100%;
        text-align: left;
        margin-left: 2rem;
      }
    }
    .descripcion {
      > p {
        text-align: justify;
        padding: 0 2rem;
      }
    }
  }
}

//version escritorio
@media screen and (min-width: 900px) {
  .producto_detalles_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 1rem;
  }
}