.car-icon { //icono carrito para abrir carrito que cambia a lleno o vacio
  
  cursor: pointer;
  width: 30px;
  padding-top: 0.5rem;
  margin-right: 1rem;
  
} 

//.car-icon:hover {  animation: shake 0.5s; } 

.car-content {/* para que ocupe todo el alto de la pantalla */
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
  background-color: #343a40;
  text-align: left;
  height: 100vh;
  white-space: nowrap; /* para que las lineas de texto no caigan */
  transition: width 1s;
  z-index: 9;

  .car-content__header {
    display: flex;
    align-items: center;
    justify-content: space-between; //el (boton cerrar, titulo ) y (botonvacias) se vayan a los extremos izq-der
    padding: 20px;
    border-bottom: 1px solid #4f5256;
    height: 76px;
    
      svg { /* icono de cerrar */
        width: 15px; fill: white;
        margin-right: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
      h2 {
        color: white;
        margin: 0;
        font-size: 24px;
      }
    
    button { /* boton de vaciar */
      margin: 0;
      color: white;
      background-color: #4f5256;
      padding: 5px 10px;
      padding-bottom: 7px;
      border: 0;
      cursor: pointer;
      svg { /*icono de cerrar*/
        cursor: pointer;
        height: 20px;
        width: 20px;
        fill: white;
        margin-left: 10px;
      }
      &:hover {
        text-decoration: none;
        color: #0098d3;
        svg {
          fill: #0098d3;
        }
      }
    }
  }

  .car-content__products { 
    overflow-y: scroll;
    height: calc(100vh - 76px - 119px); /* todo el alto menos 76 arriba menos 19 abajo */ }
  .car-content__product { display: flex; align-items: center; padding: 15px; border-bottom: 1px solid #4f5256;
    img { width: 100px; margin-right: 10px; }
    .car-content__product-info { color: white; width: 100%;
      h3 { font-size: 18px; }
      p { font-size: 16px; }
      >div {
        &:first-of-type { border-bottom: 1px solid #4f5256; }
        &:last-of-type { margin-top: 15px; display: flex; justify-content: space-between;
          p { margin: 0; }
          button { background-color: #0098d3; border-color: #0098d3; color: white; border-radius: 5px; margin: 0 5px; width: 30px; height: 30px; }
        }
      }
    }
  }
  .car-content__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    padding-top: 0;
    background-color: #4f5256;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;

      p {
        &:last-of-type {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    button {
      background-color: #0098d3;
      width: 100%;
      border: 0;
      font-size: 20px;
      color: white;
      padding: 0.5rem;
    }
  }
}