


.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
  width: 95%;
  margin: 0 auto;
}

.productos_tienda {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.producto {
  width: 100%;
  max-width: 319px;
  background-color: navajowhite;
  margin: 0 auto;
}

.producto a {
  text-decoration: none;
  color: black;
}

.producto a:hover {
  text-decoration: underline;
}

.producto_image {
  height: 150px; 
  width: 100%px;
}

.producto_image img {
  height: 100%; 
  width: 100%;
  max-height: 160px;
}



.productos_contenido {
  padding: 1rem;
  height: calc(100% - 150px);
  position: relative;
}

.productos_contenido p:first-of-type { /* descripcion */
  margin-block-start: 0.2em;
  margin-block-end: 5em;
  font-size: 0.9em;
}



.precio { 
  position: absolute;
  right: 11px;
  bottom: 55px;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
}

.quantity {
  position: absolute;
  left: 11px;
  bottom: 55px;
  font-weight: bold;
  font-size: 1em;
  display: flex;
}

.enlace_tienda {
  width: 100%;
  max-width: 200px;
  height: 100px;
  margin: 0 auto; 
  position: relative;
  background-color: white;
  margin-top: 6rem;
}

.enlace_tienda a {
  text-decoration: none;
  color: black;
}

.enlace_tienda a:hover {
  text-decoration: underline;
}

.btn_producto_container {
  position: absolute;
  left: calc(10%);
  right: calc(10%);
  bottom: 10px;
}
